@model IEnumerable<BerrasBio.Models.Movie>

<div class="text-center">
    <h1 class="display-4">Välkommen till Berras Bio</h1>
</div>

<img src="~/Content/Images/Spiderman3.png" class="ImagePhoto" />
<img src="~/Content/Images/Zlatan.png" class="ImagePhoto3" />
<img src="~/Content/Images/Juressicpark.png" class="ImagePhoto4" />
<img src="~/Content/Images/Deadpool.png" class="ImagePhoto" />
<img src="~/Content/Images/Scream.png" class="ImagePhoto1" />




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Booking" asp-route-id=@item.Id>@item.Title</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Minutes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>